application:
  name: ai_recommend_consumer
  version: 1.0.0

kafka:
  broker_servers: localhost:9092
  consumer_group: ai_recommend_consumer_group
  auto_offset_reset: earliest
  schema_registry_url: http://localhost:8081
  pool_timeout_ms: 1000
  enable_auto_commit: true
  e_commerce:
    products_viewed_topic: products_viewed
logger:
  level: DEBUG
